<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="font-size: 20px;">클릭 시 숫자 증가</p>
    <div id="num" style="font-size: 50px;"></div>
    <button class="but" id="plus" onclick=up() style="width: 60px; height: 30px;
    background-color: blue; color: white; border-radius: 5px;">수 증가</button>
    <button class="go-but" id="go" onClick=bye() style="width: 60px; height: 30px;
    background-color: red; color: white; border-radius: 5px;">전송</button>
    <script src="static/index.js">
    </script>
</body>
</html>